.container {
	max-width: 1440px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 33px;
	padding-right: 33px;
}

@media (max-width: 1500px){
	.container {
		max-width: 1110px;
	}
}
@media (max-width: 1200px) {
	.container {
		max-width: 690px;
	}
}
@media (max-width: 767px){
	.container {
		max-width: 510px;
	}
}
@media (max-width: 500px) {
	.container {
		max-width: 100%;
	}
}
* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", serif;
	font-weight: 400;
}
.header {
	padding-bottom: 29px;
	padding-top: 29px;
	font-size: 20px;

}

.header_cap {
	display: flex;
	justify-content: space-between;
	gap: 20px;

	
}
.header_logo {
	height: 22px;
	width: 120px;
}

.header_info {
	display: flex;
	gap: 40px;
	justify-content: space-between;
	
}
.header_info a {
	text-decoration: none;
	font-size: 20px;
	color: #4C5866;
	font-weight: 400;
	line-height: 23.44px;
	
}
.header_img {
	display: flex;
	gap: 30px;
}
.main {
	margin-top: 30px;
}

.main-banner {
	display: grid;
	grid-template-columns: 50% 50%;
	color: grey;
	padding-top: 60px;
}

.main-banner__container {
	height: 100%;
}
.main-banner_img-big {
	height: 100%;
}
.main-banner_img {
	height: 100%;
	width: 270px;
}
.main-banner_img-sm {
	width: 195px;
	height: 100%;
}
.main-banner_title {
	font-size: 60px;
	padding-top: 70px;
	width: 444px;
	color: #4C5866;
	font-weight: 400;
	line-height: 60px;
}
.main-banner_subtitle {
	font-size: 18px;
	padding-top: 30px;
	width: 444px;
	color: #85859B;
	padding-bottom: 30px;
	font-weight: 400;
	line-height: 27px;
}
.main-banner_btn {
	font-size: 20px;
	width: 255px;
	height: 70px;
	font-weight: 400;
	line-height: 23.44px;
}
.main-banner_btn button {
	padding: 16px 40px;
	border: 1px solid #7875FE;
	background-color: white;
	color: #7875FE;
	height: 100%;
	width: 100%;
}


.section {
	padding-top: 90px;
	padding-bottom: 100px;
	
}
.section-bottom {

}
.main-services {
	background-color: #EBEBEB;
}
.main-services__study__option {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.main-services__study__option__block {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.main-services__study__option__text {
	color: grey;
	font-size: 18px;
	padding-top: 30px;
	line-height: 27px;
}
.main-services__study__option__text__title {
	color: #666666;
	font-weight: 500;
}
.main-services__study__option__text__subtitle {
	color: #85859B;
	font-weight: 400;
}
.main-services__info  {
	padding-top: 90px;
	display: grid;
	grid-template-columns: 70% 30%;
	width: 100%;

}
.main-services__text {
	color: grey;
	line-height: 30.6px;
	
}
.main-services__text_title {
	font-size: 40px;
	padding-top: 59px;
	color: #666666;
	font-weight: 400;
	line-height: 40px;
}


.main-services__text_subtitle {
	font-size: 18px;
	padding-top: 20px;
	color: #85859B;
	font-weight: 400;
	line-height: 30.6px;
}
.main-showcase__block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 30px;
}


.main-showcase__block__info {
	color: grey;

}

.main-showcase__block__info__text_title {
	font-size: 30px;
	padding-top: 20px;
	color: #666666;
	font-weight: 400;
	line-height: 35px;
}

.main-showcase__block__info__text_comment {
	font-size: 14px;
	padding-top: 8px;
	color: #B5B5BD;
	font-weight: 400;
	line-height: 16px;
}

.main-showcase__block__info__text_subtitle {
	font-size: 18px;
	padding-top: 8px;
	line-height: 30.6px;
	color: #85859B;
	font-weight: 400;
}
.main-showcase__block__info__btn {
	padding-top: 20px;
}
.main-showcase__block__info__btn a {
	text-decoration: none;
	color: #7875FE;
	font-weight: 400;
	line-height: 23px;
	font-size: 20px;
		
}

.main-services_section {
	background-color: #EBEBEB;
}
.main-company {
	background-color: #EBEBEB;
}
.main-company__block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 30px;
}
.main-advertising {
	height: 500px;
}
.main-advertising_block {
	display: grid;
	grid-template-columns: 35% 65%;
	color: grey;
	height: 100%;
}

.main-advertising_block_container {
	padding-top: 90px;
}
.main-advertising_title {
	font-size: 40px;
	width: 250px;
	color: #666666;
	padding-top: 24px;
	font-weight: 400;
	line-height: 40px;
}

.main-advertising_subtitle {
	font-size: 18px;
	padding-top: 30px;
	width: 300px;
	line-height: 30px;
	color: #85859B;
	padding-bottom: 30px;
	font-weight: 400;
}

.main-advertising_btn {
	font-size: 20px;
	width: 255px;
	height: 70px;
	font-weight: 400;
	line-height: 23px;
}

.main-advertising_btn button {
	padding: 16px 40px;
	border: 1px solid #7875FE;
	background-color: white;
	color: #7875FE;
	width: 100%;
	height: 100%;
}
.main-advertising_img {
	height: 100%;
}
.main-advertising_img img {
	width: 100%;
	height: 100%;

}
.footer {
	padding-bottom: 29px;
	font-size: 20px;
	background-color: #4C5866;
}

.footer_cap {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	height: 80px;
	align-items: center;

}
.footer_logo {

}
.footer_info {
	display: flex;
	gap: 60px;
	
}
.footer_info a {
	text-decoration: none;
	font-size: 20px;
	color: grey;	
}
img {
	width: 100%;
	height: 100%;
}
.icon {
	width: 24px;
	height: 24px;
}
.icon-big {
	width: 160px;
	height: 118px;
}
.icon-info {
	width: 255px;
	height: 180px;
}
.icon-arrow {
	width: 20px;
	height: 10px;
}
.icon-firm {
	width: 255px;
	height: 135px;
}
.arrow {
	width: 20px;
}

@media (max-width: 1500px) {
	.main-banner_img {
		display: none;
	}
	.main-banner_img-sm {
		display: none;
	}
}
@media (max-width: 1200px) {
	.header_cap {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.header_logo {
		order: 1;
	}
	.header_info {
		order: 3;
		grid-column-start: -3;
		grid-column-end: -1;
		gap: 20px;
	}
	.header_img {
		order: 2;
		justify-self: end;
	}
	
	.main-banner_title {
		font-size: 50px;
		line-height: 50px;
		padding-top: 5px;
		width: 390px;	
	}
	.main-banner_subtitle {
		width: 390px;	
	}
	.main-showcase__block {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.main-banner_img-big {
		display: none;
	}
	.main-banner_img {
		display: block;
		justify-self: end;
	}
	.main-services__text_title {
		font-size: 30px;
		line-height: 30px;
		padding-top: 0;
	}
	.main-services__study__option__block {
		display: grid;
		grid-template-columns: 1fr;
	}
	.main-services__study__option__text {
		padding-top: 0;
	}
	.main-services__info {
		grid-template-columns: 1fr 1fr;
		padding-top: 40px;
	}
	.main-services__img {
		width: 330px;
		height: 256px;
	}
	.icon-info {
		width: 330px;
	}
}
@media (max-width: 767px) {
	.header_info {
		gap: 10px;
	}
	.main-banner {
		padding-top: 20px;
		grid-template-columns: 55% 45%;
		gap: 20px;
	}
	.main-banner_title {
		font-size: 38px;
		line-height: 38px;
		padding-top: 40px;	
		width: 286px;
	}
	.main-banner_subtitle {
		font-size: 16px;
		line-height: 24px;
		width: 287px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.main-banner_img {
		display: none;
	}
	.main-banner_img-sm {
		display: block;
		justify-self: end;
	}
	.main-banner_btn {
		width: 196px;
		height: 60px;
	}
	.main-services__info {
		display: block;
	}
	.main-company__block {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.main-advertising_block {
		display: grid;
		grid-template-columns: 1fr;
	}
	.main-advertising {
		height: 100%;
	}
	main-services__study__option__text {
		font-size: 16px;
		line-height: 24px;
	}
	.main-services__text_title {
		font-size: 24px;
		line-height: 24px;
	}
	.main-services__text_subtitle {
		font-size: 16px;
		line-height: 27px;
	}
	.icon-big {
		width: 150px;
		height: 111px;
	}
	.icon-info {
		width: 240px;
	}
	.main-showcase__block__info__text_title {
		font-size: 24px;
		line-height: 28px;
	}
	.main-showcase__block__info__text_comment {
		padding-top: 4px;
	}
	.main-showcase__block__info__text_subtitle {
		font-size: 18px;
		line-height: 27px;
	}
}
@media (max-width: 500px) {}